@page
@model SpinxTask.Pages.Products.CreateModel
@{
}
@if (Model.res != null)
{
    <div class="alert alert-danger">
        @Model.res.Message
    </div>
}
<form method="post">


    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Product Name</label>
        <input asp-for="newProductDTO.Name" type="text" class="form-control" placeholder="name">
        <ul class="text-danger">
            @if (@ModelState.FirstOrDefault(i => i.Key == "newProductDTO.Name").Value != null)
                @foreach (var i in @ModelState.FirstOrDefault(i => i.Key == "newProductDTO.Name").Value?.Errors)
                {
                    <li>@i.ErrorMessage</li>
                }
        </ul>
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea asp-for="newProductDTO.Description" class="form-control" rows="3"></textarea>
        <ul class="text-danger">
            @if (@ModelState.FirstOrDefault(i => i.Key == "newProductDTO.Description").Value != null)
                @foreach (var i in @ModelState.FirstOrDefault(i => i.Key == "newProductDTO.Description").Value?.Errors)
                {
                    <li>@i.ErrorMessage</li>
                }
        </ul>
    </div>

    <div class="mb-3 d-flex align-items-center gap-2">
        
        <input asp-for="newProductDTO.IsActive" class="form-check d-inline-block" />
        <label for="exampleFormControlTextarea1" class="form-label">
            Is this product Active ?
        </label>
        <ul class="text-danger">
            @if (@ModelState.FirstOrDefault(i => i.Key == "newProductDTO.IsActive").Value != null)
                @foreach (var i in @ModelState.FirstOrDefault(i => i.Key == "newProductDTO.IsActive").Value?.Errors)
                {
                    <li>@i.ErrorMessage</li>
                }
        </ul>
    </div>
    

    <button class="btn btn-primary" type="submit">submit</button>
</form>